@import './variable.scss';

@mixin flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

@media (orientation : landscape) {
    body {
        background-color: rgb(95, 161, 113);
    }

    .main__overlay-hidden {
        background-color: aqua;
    }

    .main {
        text-align: center;

        #{&}__container {
            @include flexRow();
            text-align: center;
            gap: 20px;
        }

        &__modal-button {
            border: none;
            width: 200px;
            border-radius: 40px;
            padding: 20px;
            background-color: rgb(255, 255, 255);
        }

        &__modal-button:hover {
            background-color: rgb(221, 221, 221);
        }

        .hidden {
            display: none;
        }

        .modal {

            background-color: rgba(255, 255, 255, 0.807);
            margin-top: 20px;
            border-radius: 20px;
            width: 65%;
            padding: 20px;

            margin-left: auto;
            margin-right: auto;
        }

        .close-modal {
            margin-right: 10px;
            margin-top: 10px;
            float: right;
        }

        // &__overlay-hidden {
        //     background-color: rgba(45, 81, 81, 0);
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        // }
    }
}

// @media (orientation : portrait) {
//     body {
//         background-color: rgb(84, 185, 185);
//     }

//     .main {
//         text-align: center;

//         #{&}__container {
//             @include flexCol();
//             text-align: center;
//         }

//         #{&}__modal-button {
//             background-color: aqua;
//             border-radius: 15px;
//             padding: 20px;
//             margin-top: 20px;
//             margin-left: auto;
//             margin-right: auto;
//             width: 80%;
//         }

//         #{&}__modal-button:hover {
//             background-color: rgb(37, 173, 173);
//         }
//     }
// }